@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 229, 229;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 18, 18, 18;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg_primary {
  @apply bg-primary dark:bg-gray-800;
}

.btn_contained {
  @apply bg_primary hover:bg-blue-600 dark:hover:bg-primary/[0.2] transition-colors font-semibold text-white;
}

.btn_contained:disabled {
  @apply cursor-default dark:hover:bg-primary-200 bg-gray-300 dark:bg-gray-900 dark:text-gray-700;
}

.btn_outlined {
  @apply dark:text-white border border-primary dark:border-gray-900 hover:border-blue-600 dark:hover:bg-primary-200 dark:hover:border-primary-200 transition-all;
}
